<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">Login</h1>
            </div>
        </div>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" style="margin-left: 20%;">
                <form [formGroup]="loginForm">

                    <div class="form-group">
                        <input type="email" class="form-control" formControlName="email" placeholder="Email">
                    </div>
                    <div *ngIf="
                    loginForm.controls['email'].invalid && 
                 (loginForm.controls['email'].touched || 
                    loginForm.controls['email'].dirty)
                    ">

                        <div *ngIf="loginForm.controls['email'].errors?.['required']">
                            email is required
                        </div>
                        <div *ngIf="loginForm.controls['email'].errors?.['email']">
                            email format Invalid
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" formControlName="password"
                            placeholder="mot de passe">
                    </div>

                    <div *ngIf="
                    loginForm.controls['password'].invalid && 
                 (loginForm.controls['password'].touched || 
                    loginForm.controls['password'].dirty)
                    ">

                        <div *ngIf="loginForm.controls['password'].errors?.['required']">
                            password is required </div>


                    </div>


                    <div class="form-group text-center">
                        <input type="submit" [disabled]="loginForm.invalid" class="btn btn-primary py-3 px-5"
                            (click)="login()" value="signin">
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>